
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-weight:800;
    font-size: 45px;
}

.hero_bg{
    background-image: url('../assets/Hero-bg.png');
}
.banner-item{
    text-align: center;
}
.title{
text-decoration: black;
}

.whyweb{
    background-color: ADC8F7;
}
.whyweb-title{
    text-align: center;  
}
.coding{
    display: flex;
    justify-content: center;
}

.Inspiration-part{
    text-align: center;
}
